---
layout: default
---

<div class="home">
<article class="post">

  <header class="post-header">
    <div class="post-title">About Me</div>
    <div class="post-content">
        I am a CS PhD student at UC Riverside, advised by <a href="https://www.cs.ucr.edu/~epapalex/">Prof. Vagelis Papalexakis</a>.
      I received a B.S in Mathematics at Chonnam National University. 
      My research interests focus on Tensor Mining and Machine Learning.
    </div>
  </header>


  <header class="post-header">
    <div class="post-title">Education</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Ph.D. in Computer Science, University of California, Riverside</b><br>
          <p2>Riverside, USA, Sep. 2021 - present</p2>
        </li>
        <li>
          <b>B.S in Mathematics, Chonnam National University</b><br>
          <p2>Gwangju, South Korea, Feb. 2014 - Jun. 2019</p2>
        </li>
      </ul>
    </div>
  </header>


  <header class="post-header">
    <div class="post-title">Publications</div>
    <div class="post-content">
      <ul>
        <li>
          <b>TRAWL: Tensor Reduced and Approximated Weights for Large Language Models</b><br>
          <p2>Yiran Luo, Het Patel, Yu Fu, <u>Dawon Ahn</u>, Jia Chen, Yue Dong, and Evangelos E. Papalexakis<br>
          <p2>Arxiv [paper|code]</p2>
        </li>
        <li>
          <b>Automating Data Science Pipelines with Tensor Completion</b><br>
          <p2>Shaan Pakala, Bryce Graw, <u>Dawon Ahn</u>, Tam Dinh, Mehnaz Tabassum Mahin, Vassilis Tsotras, Jia Chen, and Evangelos E. Papalexakis<br>
          <p2>BigData 2025 [paper|code]</p2>
        </li>
        <li>
          <b>Neural Additive Tensor Decomposition for Sparse Tensors</b><br>
          <p2><u>Dawon Ahn</u>, Uday Singh Saini, Evangelos E. Papalexakis, and Ali Payani</p2><br>
          <p2>CIKM 2024 [<a href="https://dl.acm.org/doi/pdf/10.1145/3627673.3679833">paper</a>|<a href="https://github.com/dawonahn/NeAT">code</a>]</p2>
        </li>
        <li>
          <b>Compact Interpretable Tensor Graph Multi-Modal News Embeddings</b><br>
          <p2><u>Dawon Ahn</u>, William Shiao, Arindam Khaled, Andrew Bauer, Stefanos Poulis, and  Evangelos E. Papalexakis</p2><br>
          <p2>TheWebConf 2024 [paper|code] </p2>
        </li>
        <li>
          <b>Accurate Online Tensor Factorization for Temporal Tensor Streams with Missing Values</b><br>
          <p2><u>Dawon Ahn</u>, Seyun Kim, and U Kang</p2><br>
          <p2>CIKM 2021 [<a href="https://dl.acm.org/doi/abs/10.1145/3459637.3482048">paper</a>|<a href="https://github.com/snudatalab/STF">code</a>]</p2>
        </li>
        <li>
          <b>Time-Aware Tensor Decomposition for Missing Entry Prediction</b><br>
          <p2><u>Dawon Ahn</u>, Jun-Gi Jang, and U Kang</p2><br>
          <p2>Machine Learning 2021 [<a href="https://link.springer.com/article/10.1007/s10994-021-06059-7">paper</a>|<a href="https://github.com/dawonahn/TATD">code</a>|<a href="https://snudmlab.blogspot.com/2021/03/time-aware-tensor-decomposition-for.html">blog (KR)</a>]</p2>
        </li>
        <li>
          <b>Gtensor: Fast and Accurate Tensor Analysis System using GPUs</b><br>
          <p2><u>Dawon Ahn</u>, Sangjun Son, and U Kang</p2><br>
          <p2>CIKM 2020 (Demo) [<a href="https://dl.acm.org/doi/pdf/10.1145/3340531.3417413">paper</a>|<a href="https://datalab.snu.ac.kr/bigtensor/">code</a>]</p2> 
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Research Experience</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Research Assistant (Advisor: <a href="https://www.cs.ucr.edu/~epapalex/">Evangelos E. Papalexakis</a>)</b><br>
          <p2>Multi-Aspect Data Lab</p2><br>
          <p2>Riverside, CA, USA, Sep. 2021 - Present </p2>
        </li>
        <li>
          <b>Research Intern (Advisor: <a href="https://datalab.snu.ac.kr/~ukang/">U Kang</a>)</b><br>
          <p2>Data Mining Laboratory at SNU</p2><br>
          <p2>Seoul, South Korea, Jan. 2019 - Jun. 2021</p2>
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Industry Experience</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Research Intern (Mentor: Ali Payani)</b><br>
          <p2>Cisco Systems Inc.</p2><br>
          <p2>CA, June. 2023 - Sep. 2023</p2>
        </li>
        <li>
          <b>Data Science Intern</b><br>
          <p2>DT Lab, HANA Financial Group</p2><br>
          <p2>Seoul, South Korea, Sep. 2018 - Dec. 2018</p2>
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Teaching</div>
    <div class="post-content">
      <ul>
        <li>
          <b>T.A - Deep Learning (Time-series Forecasting)</b><br>
          <p2>SK-hynix (2020), LG Chemical (2021), LG DS (2021)</p2>
        </li>
      </ul>
    </div>
  </header>
</article>
</div>
