---
layout: default
---

<div class="home">
<article class="post">

  <header class="post-header">
    <div class="post-title">About Me</div>
    <div class="post-content">
      I am a research assistant in <a href="https://datalab.snu.ac.kr">Data Mining Laboratory@SNU</a>, 
        advised by <a href="https://datalab.snu.ac.kr/~ukang/">Prof. U Kang</a>.
      I received a B.S in Mathematics at Chonnam National University. 
      My research interests focus on Tensor Mining and Machine Learning.
    </div>
  </header>


  <header class="post-header">
    <div class="post-title">Education</div>
    <div class="post-content">
      <ul>
        <li>
          <b>B.S in Mathematics, Chonnam National University</b><br>
          <p2>Gwangju, South Korea, Feb. 2014 - Jun. 2019</p2>
        </li>
      </ul>
    </div>
  </header>


  <header class="post-header">
    <div class="post-title">Publications</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Time-Aware Tensor Decomposition for Missing Entry Prediction</b><br>
          <p2><u>Dawon Ahn</u>, Jun-Gi Jang, U Kang</p2><br>
          <p2>arXiv [<a href="https://arxiv.org/pdf/2012.08855.pdf">paper</a>|<a href="https://github.com/dawonahn/TATD">code</a>|<a href="https://snudmlab.blogspot.com/2021/03/time-aware-tensor-decomposition-for.html">blog</a>]</p2>
        </li>
        <li>
          <b>Gtensor: Fast and Accurate Tensor Analysis System using GPUs</b><br>
          <p2><u>Dawon Ahn</u>, Sangjun Son, U Kang</p2><br>
          <p2>CIKM 2020 (Demo)[<a href="https://dl.acm.org/doi/pdf/10.1145/3340531.3417413">paper</a>|<a href="https://datalab.snu.ac.kr/bigtensor/">code</a>]</p2> 
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Experience</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Undergraduate Research Intern (Advisor: U Kang)</b><br>
          <p2>Data Mining Laboratory at SNU</p2><br>
          <p2>Seoul, South Korea, Jan. 2019 - Aug. 2019</p2>
        </li>
        <li>
          <b>Data Science Intern</b><br>
          <p2>DT Lab, HANA Financial Group</p2><br>
          <p2>Seoul, South Korea, Sep. 2018 - Dec. 2018</p2>
        </li>
        <p2>
        </p2>
        <li>
          <b>FIRA: Big Data Engineering Courses</b><br>
          <p2>SNU Big Data Institute & The ministry of Employment and Labor of Korea</p2><br>
          <p2>Seoul, South Korea, Jun. 2018 - Dec. 2018</p2>
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Teaching</div>
    <div class="post-content">
      <ul>
        <li>
          <b>T.A - Deep Learning (Time-series Forecasting)</b><br>
          <p2>SK-hynix (2020), LG Chemical (2021), LG DS (2021)</p2>
        </li>
      </ul>
    </div>
  </header>
</article>
</div>
