---
layout: default
---

<article class="post">

  <header class="post-header">
    <div class="post-title">{{ page.title | escape }}</div>
    <div class="post-content">
      {{ content }}
    </div>
  </header>

  <header class="post-header">
    <div class="post-title">Research Interests</div>
    <div class="post-content">
      <ul>
        <li>
          Tensor Mining
        </li>
      </ul>
    </div>
  </header>

  <header class="post-header">
    <div class="post-title">Education</div>
    <div class="post-content">
      <ul>
        <li>
          <b>B.S in Mathematics, Chonnam National University</b><br>
          Gwangju, South Korea, Feb. 2014 - Jun. 2019
        </li>
      </ul>
    </div>
  </header>


  <header class="post-header">
    <div class="post-title">Publications</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Time-Aware Tensor Decomposition for Missing Entry Prediction</b><br>
          <u>Dawon Ahn</u>, Jun-Gi Jang, U Kang<br>
          Arxiv 2020 [<a href="">paper</a>|
          <a href="https://github.com/dawonahn/TATD">code</a>|
          <a href="https://snudmlab.blogspot.com/2021/03/time-aware-tensor-decomposition-for.html">blog</a>]
        </li>
        <li>
          <b>Gtensor: Fast and Accurate Tensor Analysis System using GPUs. (Demo)</b><br>
          <u>Dawon Ahn</u>, Sangjun Son, U Kang<br>
          CIKM 2020 [<a href="">paper</a>|<a href="https://datalab.snu.ac.kr/bigtensor/">code</a>] 
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Experience</div>
    <div class="post-content">
      <ul>
        <li>
          <b>Undergraduate Research Intern (Advisor: U Kang)</b><br>
          Data Mining Laboratory at SNU<br>
          Seoul, South Korea, Jan. 2019 - Aug. 2019
        </li>
        <li>
          <b>Data Science Intern</b><br>
          DT Lab, HANA Financial Group<br>
          Seoul, South Korea, Sep. 2018 - Dec. 2018
        </li>
        <p2>
        </p2>
        <li>
          <b>FIRA: Big Data Engineering Courses</b><br>
          SNU Big Data Institute & The ministry of Employment and Labor of Korea<br>
          Seoul, South Korea, Jun. 2018 - Dec. 2018
        </li>
      </ul>
    </div>
  </header>
  <header class="post-header">
    <div class="post-title">Teaching</div>
    <div class="post-content">
      <ul>
        <li>
          <b>T.A - Deep Learning (Time Series Forecasting)</b><br>
          SK-hynix (2020), LG Chemical (2021), LG DS (2021)
        </li>
      </ul>
    </div>
  </header>
</article>
